// utilities
$line-height-normal: 1.5;

// font family & style
$font-family-NotoSansTC: 'Noto Sans TC', sans-serif;
$font-family-Roboto: 'Roboto', sans-serif;
$font-style-italic: italic;

$border-color-gray: #DCDCDC;

// font color
$font-color-normal: #000;
$font-color-pagination: #555555;

// product box color
$product-color-brown: #5F3E2D;
$product-color-orange: #B75929;


// bg-color
$bg-color-normal: #aa0601;
$bg-color-home-pink: #FBF2F2;

// font-weight-bold
$font-weight-bold: 700;
$font-weight-medium: 500;

// text-color
$text-color-normal: #650300;