<div class="frame-pictures d-flex mb-80">
    <ul class="optical-list sunglasses-list d-flex">
        <li><img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true"
                alt="frame-sunglasses"></li>
        <li><img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true"
                alt="frame-sunglasses"></li>
    </ul>
</div>

<div class="frame-list frame-sunglasses container">
    <h2 class="product-title text-center fz-42 font-family-roboto">
        2020 NEW COLLECTION
    </h2>
    <h2 class="product-title-txt text-center fz-32 mb-32">賽璐珞鈦金屬混合鏡框</h2>

    <ul class="product-list product-list-sunglasses d-flex d-flex-h-center d-flex-wrap">
        <li class="mr-24 mb-80">
            <img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
                alt="product-pic">
            <div class="model d-flex d-flex-sb fz-24">
                <span class="model-num">BJ41600S</span><span
                    class="model-price fw-medium">NTD3,490</span>
            </div>
            <div class="color-block d-flex">
                <div class="block-item1"></div>
                <div class="block-item2"></div>
            </div>

        </li>
        <li class="mr-24 mb-80">
            <img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
                alt="product-pic">
            <div class="model d-flex d-flex-sb fz-24">
                <span class="model-num">BJ41600S</span><span
                    class="model-price fw-medium">NTD3,490</span>
            </div>
            <div class="color-block d-flex">
                <div class="block-item1"></div>
                <div class="block-item2"></div>
            </div>

        </li>
        <li class="mr-24 mb-80">
            <img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
                alt="product-pic">
            <div class="model d-flex d-flex-sb fz-24">
                <span class="model-num">BJ41600S</span><span
                    class="model-price fw-medium">NTD3,490</span>
            </div>
            <div class="color-block d-flex">
                <div class="block-item1"></div>
                <div class="block-item2"></div>
            </div>

        </li>
        <li class="mr-24 mb-80">
            <img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
                alt="product-pic">
            <div class="model d-flex d-flex-sb fz-24">
                <span class="model-num">BJ41600S</span><span
                    class="model-price fw-medium">NTD3,490</span>
            </div>
            <div class="color-block d-flex">
                <div class="block-item1"></div>
                <div class="block-item2"></div>
            </div>

        </li>
        <li class="mr-24 mb-80">
            <img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
                alt="product-pic">
            <div class="model d-flex d-flex-sb fz-24">
                <span class="model-num">BJ41600S</span><span
                    class="model-price fw-medium">NTD3,490</span>
            </div>
            <div class="color-block d-flex">
                <div class="block-item1"></div>
                <div class="block-item2"></div>
            </div>

        </li>
        <li class="mr-24 mb-80">
            <img class="d-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true"
                alt="product-pic">
            <div class="model d-flex d-flex-sb fz-24">
                <span class="model-num">BJ41600S</span><span
                    class="model-price fw-medium">NTD3,490</span>
            </div>
            <div class="color-block d-flex">
                <div class="block-item1"></div>
                <div class="block-item2"></div>
            </div>
        </li>
    </ul>
</div>