<div class="frame container">
    <ul class="frame-type frame-type-sunglasses d-flex d-flex-h-center">
        <li class="optical sunglasses font-family-roboto text-center fw-medium"><a class="d-block fz-32"
                href="frameOptical.html">OPTICAL</a>
        </li>
        <li class="sunglasses text-center"><a class="d-block fz-32" href="frameSunglasses.html">SUNGLASSES</a></li>
        <li class="functional text-center"><a class="d-block fz-32" href="#">FUNCTIONAL</a></li>
    </ul>
</div>