<header>
    <div class="container d-flex d-flex-sb d-flex-v-center">
        <a href="index.html" class="header-home">
            <img class="header-logo d-inline-block"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                alt="logo-white"></a>
        <ul class="nav d-flex">
            <li><a class="nav-menu fz-20 text-white d-inline-block" href="frameOptical.html">系列鏡框</a>
            </li>
            <li><a class="nav-menu fz-20 text-white d-inline-block" href="storeLocation.html">門市據點</a></li>
            <li><a class="nav-menu fz-20 text-white d-inline-block" href="#">部落格</a></li>
            <li><a class="nav-menu fz-20 text-white d-inline-block" href="#">常見問題</a></li>
        </ul>
    </div>
</header>