<div class="frame-list container">
    <ul class="pagination d-flex d-flex-h-center mb-80">
        <li class="text-center d-flex d-flex-h-center"><a class="pagination-pre fz-19 w-100" href="#">上一頁</a>
        </li>
        <li class="text-center d-flex d-flex-h-center"><a class="pagination-num fz-18 d-block" href="#">1</a>
        </li>
        <li class="text-center d-flex d-flex-h-center"><a class="pagination-num fz-18 d-block" href="#">2</a>
        </li>
        <li class="text-center d-flex d-flex-h-center"><a class="pagination-num fz-18 d-block" href="#">3</a>
        </li>
        <li class="text-center d-flex d-flex-h-center"><a class="pagination-num fz-18 d-block" href="#">4</a>
        </li>
        <li class="text-center d-flex d-flex-h-center"><a class="pagination-num fz-18 d-block" href="#">5</a>
        </li>
        <li class="text-center d-flex d-flex-h-center"><a class="pagination-next fz-19" href="#">下一頁</a>
        </li>
    </ul>
</div>