<div class="storeLocation container">
    <h2 class="storeList fz-48 mb-32 fw-bold">門市據點</h2>
    <div class="storeSelect mb-40">
        <p class="d-inline-block fz-24 mr-16">選擇地區</p>
        <select class="d-inline-block select-menu fz-18" name="select-menu" id="">
            <optgroup label="請選擇城市" class="optgroup">
            </optgroup>

            <option value="allCity" class="allCity">顯示全部</option>

            <optgroup label="台北" class="optgroup">
                <option value="taipeiCity">台北市</option>
                <option value="taipeiCityZhongshan">台北中山旗艦店</option>
                <option value="taipeiCityGreenGarden">台北綠園店</option>
            </optgroup>


            <optgroup label="台中" class="optgroup">
                <option value="taichungCity">台中市</option>
                <option value="taichungCityShimizu">台中清水旗艦店</option>
            </optgroup>

            <optgroup label="高雄" class="optgroup">
                <option value="kaohsiungCity">高雄市</option>
                <option value="kaohsiungCityChungCheng">高雄中正形象店</option>
                <option value="kaohsiungCityDreamTimes">高雄夢時代店</option>
            </optgroup>
        </select>
    </div>
</div>