header {
    .container {
        padding: 0 12px;
    }

    background-color: $bg-color-normal;

    .header-logo {
        width: 80px;
        height: 48px;
    }

    .nav-menu {
        width: 100%;
        padding: 25px 30px;
        transition: .5s;

        &:hover {
            box-shadow: 16px 16px 16px #650300;
        }
    }
}



@media screen and (max-width: 992px) {
    header .container {
        padding: 0 36px;
    }

    .nav-menu {
        &:first-child {
            padding-right: 28px;
        }
    }
}


@media screen and (max-width: 767px) {
    header {

        .container {
            flex-wrap: wrap;
            flex-direction: column;
            padding: 0;

            .header-home {
                max-width: 100%;
                margin: 12px 0 12px 15px;
                align-self: start;
            }
        }

        .nav {
            width: 100%;
            flex-wrap: wrap;

            .nav-menu {
                padding: 25px 0;
            }

            li {
                width: 50%;
                border: 1px solid #fff;
                text-align: center;

                a {
                    font-size: 16px;
                }
            }
        }
    }
}