<!DOCTYPE html>
<html lang='zh-Hant-TW'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Roboto、Noto Sans TC ( normal / 500 / 700 ) -->
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- css -->
    <link rel="stylesheet" href="../assets/scss/css/all.css">
    <title>glasses Website - 太陽眼鏡</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <%- include('./layout/frameType'); -%>
            <%- include('./layout/pagination'); -%>
                <%- include('./layout/footer'); -%>
                    <script type="module" src="../main.js"></script>
</body>


</html>